.banner{
    .header-banner{
        background-size: cover !important;
        background-repeat: no-repeat !important;
        background-position: center center !important;
        position:relative;
        text-align:center;
        .overlay{
            position: absolute;
            top:0;
            left:0;
            height:100%;
            width:100%;
            background-color: $brand-green;
            opacity: 0.95;
        }
        .menu-main-menu-container{
            position: absolute;
            width:100%;
            bottom:0;
            ul{
                display: block;
                text-align: center;
                background-color: $brand-light-grey;
                li{                    
                    display:inline-block;
                    padding: 1.25rem 2vw;
                    transition: background-color 0.3s ease-in-out;
                    &:hover{
                        background-color: $brand-orange;
                        cursor: pointer;
                        a{
                            color: $brand-white;
                        }
                    }
                    a{
                        color: $brand-dark-grey;
                        transition: color 0.3s ease-in-out;
                        text-decoration: none;
                        font-weight: 500;
                        font-size: 1.25rem;
                        font-family: 'roboto slab';
                    }
                }
            }
        }

        &.page-banner{
            height: 12rem;
            .logo{
                position: absolute;
                display: block;
                height: 30%;
                left: 1.25rem;
                bottom: 0;
                top: -4rem;
                margin: auto;
                transition: opacity 0.3s ease-in-out;
                &:hover{
                    cursor: pointer;
                    opacity: 0.5;
                }

                &.text-logo{
                    left:0;
                    right:0;
                }
            }
        }

        &.home-banner{
            height: 36rem;
            .logo{
                position: absolute;
                display: block;
                height: 50%;
                left: 0;
                right: 0;
                bottom: 0;
                top: -4rem;
                margin: auto;
                transition: opacity 0.3s ease-in-out;
                &:hover{
                    cursor: pointer;
                    opacity: 0.5;
                }
            }
            #social-icons{
                position: absolute;
                display: block;
                height: 50%;
                left: 0;
                right: 0;
                bottom: 0;
                top: 35rem;
                margin: auto;
                color: white;
            }
        }
    }
}

@media (max-width: 480px) {
    .banner{
        .header-banner{
            .menu-main-menu-container{
                ul{
                    li{
                        a{
                            font-size:1rem;
                        }
                    }
                }
            }
            &.page-banner{
                .logo{
                    &.crest-logo{
                        display:none;
                    }
                }
            }
        }
    }
}
