html{
    body{
        color: $brand-dark-grey, 50%;
        background-color: $brand-white;
        font-family: 'roboto'!important;

        h1,h2,h3,h4,h5{
            font-family: 'roboto slab'!important;
            font-weight: 700;
        }

        p{
            color: lighten($brand-dark-grey, 40%);
            font-size: 0.85rem;
            strong{
                font-family: 'roboto slab' !important;
                font-size: 1rem;
                color: $brand-orange;
            }
        }

        .content{
            font-weight: 500;
            padding-top: 6rem;
            position: relative;
            &:after{
                content:'';
                position:absolute;
                left:15px;
                top:0;
                width:12rem;
                height:2rem;
                background-color: $brand-orange;
            }
        }
    }
}