// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

$brand-white: 		#FFFFFF;
$brand-orange: 	    #E6771F;
$brand-light-grey:  #E0E1E1;
$brand-dark-grey: 	#2E2D2C;
$brand-green: 		#0C2B26;